* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;

    background-image: url('./imagens/day-bg-2.png');
    background-repeat: none;
    background-size: cover;
}

.header {
    text-align: center;
    padding: 20px;
}

.title {
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    background: linear-gradient(to right, #F0F0F0, #FFFFFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.main{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 450px;
    height: 450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    background-color: rgba(128, 128, 128, .6);
    padding: 40px;
}

.infos {
    width: 100%;
    margin-bottom: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;    
}

.info__one-day{
    display: flex;
    justify-content: space-around;
    height: 160px;
}


.info__right{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 20px;
}

.info__right .main__temperature {
    font-size: 80px;
}

.info__right .min-max{
    font-size: 25px;
}

.info__left{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-weight: 500;
}

.info__one-day img{
    height: 60px;
}

.city{
    font-size: 30px;
    margin-bottom: 20px;
}

.info__one-day .date{
    font-size: 16px;
}


.info__five-temps {
    display: none;
    justify-content: space-around;
}

.info__five-hours {
    display: flex;
    justify-content: space-around;
}


.daily {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}

.daily img {
    height: 40px;
    margin-bottom: 5px;
}



/* Menu */


.menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    padding-bottom: 20px;
}

.menu__buttons{
    display: flex;
    flex: .5;
    gap: 15px;
}

.menu__buttons button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: transparent;
    border: none;
    font-size: 18px;
    font-weight: 500;
    color: rgba(245, 245, 245, 0.8);
    border-bottom: 2px solid rgba(245, 245, 245, 0.8);
    padding: 5px 0;
    cursor: pointer;
    transition: all ease .1s;
}

.menu .active{
    color: white;
    border-bottom: 3px solid white;
}

.menu__buttons .menu__icon {
    height: 50px;
    display: none;
}

.menu__search{
    flex: .5;
    display: flex;
    justify-content: end;
    padding: 5px;
    height: 40px;
    border-bottom: 1px solid rgb(255, 255, 255);
}

.input__search {
    background-color: transparent;
    width: 100%;
    padding: 5px;
    border: none;
    outline: none;
    color: white;
    font-size: 16px;
}

.input__search::placeholder{
    color: white;
}

.btn__search{
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

.btn__search:hover{
    color: rgb(200, 200, 200);
}
